test.py
model_final100.bin
model_final2.bin
log_file.txt
*.idea
*__pycache__
.pckl
logs/
texts/
temp.pdf
summarizer_output.txt
temp.txt
test_mlp_class.py
multiple_models_klassifikator.tar.gz
*.tar.gz
model.pickle
klassifikator/CNN_model/*
klassifikator/MLP_model/*
klassifikator/logreg_model/*
klassifikator/fasttext_model/*
